<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="3">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Assignment_TestNG">
        <classes>
            <class name="ScientificCalculatorTest">
                <methods>
                    <include name="basicOperations.*"/> 
                    <include name="testSquareRoot"/>
                    <include name="invalidAddition"/>
                    <include name="invalidDivision"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
